.taskContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% + 20px);
    height: 100px;
    margin: 8px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #708090;
    height: 90%;
    width: calc(100% - 20px);
    padding: 8px;
    color: black;
    cursor: pointer;
}

.task:hover {
    height: 95%;
    width: 100%;
}

.completed {
    color: silver;
    background-color: #F2F2F2;
}

.taskName {
    font-size: 24px;
    margin-bottom: 4px;
}