.applicationsPage {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.leftCol {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.applications {
    max-height: 100%;
    direction: rtl;
    overflow-y: scroll;
}

.applicationSearch {
    margin-top: 12px;
    margin-bottom: 12px;
}


.application {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    cursor: pointer;
    border-radius: 4px;
    direction: ltr;
    flex: 1;
}

.application:hover {
    background-color: #EEEEEE;
}

.selectedApplication {
    background-color: #CCCCCC;
}

.application:hover .selectedArrow {
    fill: #EEEEEE;
}

.selectedArrow {
    position: absolute;
    width: 64px;
    left: 100%;
    fill: #CCCCCC;
}

.companyLogo {
    height: 100%;
    padding: 8px;
}

.applicationText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

.applicationCompany {
    font-size: 16px;
}

.applicationDetail {
    padding: 48px;
    flex: 2;
}

.currentLogo {
    height: 100%;
    padding-right: 8px;
}

.currentCompany {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
}

.currentTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.statusPill {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 120px;
    height: 28px;
    border-radius: 16px;
    padding-right: 8px;
    padding-left: 8px;
}

.accepted {
    background-color: #21ba45;
}

.rejected {
    background-color: #f2711c;
}

.applied {
    background-color: #fbbd08;
}

.interested {
    background-color: #2185d0;
}

.offer {
    background-color: #b5cc18;
}

.attribute {
    margin-top: 24px;
}